.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 38px;
  padding: 9.5px 60px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo__icon {
  padding: 11.5px 13.6px;
}
.logo__title {
  font-size: 37px;
  font-weight: 600;
  line-height: 17px;
}