* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside, section {
  display: block;
}

html, body {
  box-sizing: border-box;
  height: 100%;
  min-width: 320px;
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  font-size: 20px;
  font-family: "Outfit";
  color: #FFFFFF;
  font-weight: 400;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Outfit";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.navigation__nav {
  background-color: #FFAA4C;
}
.navigation__list {
  display: flex;
  padding-left: 60px;
}
.navigation__item {
  display: flex;
  padding: 9px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px 20px 0px 0px;
  height: 38px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.navigation__item--black {
  background-color: #181818;
  color: #FFFFFF;
}
.navigation__item--transparent {
  color: #000000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9.5px 60px;
  padding-top: 38px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo__icon {
  padding: 11.5px 13.6px;
}
.logo__title {
  font-size: 37px;
  font-weight: 600;
  line-height: 17px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 64px;
       column-gap: 64px;
  padding-top: 62px;
  padding-left: 110px;
  padding-bottom: 100px;
}
.hero__title {
  font-size: 96px;
  font-weight: 700;
  line-height: 106%;
  padding-bottom: 20px;
  width: 671px;
}
.hero__subtitle {
  line-height: 120%;
  padding-bottom: 40px;
  width: 534px;
}
.hero__image {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.hero__image-vector {
  position: absolute;
  width: 100%;
  height: 529px;
}
.hero__image-img {
  position: relative;
  padding-right: 76px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 30px;
  gap: 14px;
  border-radius: 16px;
  background-color: #954CED;
  color: #FFFFFF;
  font-weight: 600;
}

.wrapper {
  background: #181818;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1320px;
  padding: 0 60px;
  margin: 0 auto;
}