.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 9.5px 60px;
	padding-top: 38px;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;

	&__icon {
		padding: 11.5px 13.6px;
	}

	&__title {
		font-size: 37px;
		font-weight: 600;
		line-height: 17px;
	}
}
