.hero {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 64px;

	padding-top: 62px;
	padding-left: 110px;

	&__title {
		font-size: 96px;
		font-weight: 700;
		line-height: 106%;
		padding-bottom: 20px;
		width: 671px;
	}

	&__subtitle {
		line-height: 120%;
		padding-bottom: 40px;
		width: 534px;
	}

	&__image {
		position: relative;
		width: 100%;
  	height: 100%;
		display: flex;
		justify-content: flex-end;

		&-vector {
			position: absolute;
			width: 100%;
  		height: 529px;
		}

		&-img {
			position: relative;
			padding-right: 76px;
		}
	}
}