.navigation {
	z-index: 1001;
	position: absolute;
	width: 100%;
	height: 40px;

	&__nav {
		background-color: $secondary-02;
	}

	&__list {
		display: flex;
		padding-left: 60px;
	}

	&__item {
		display: flex;
		padding: 9px 40px;
		justify-content: center;
		align-items: center;
		gap: 10px;

		border-radius: 20px 20px 0px 0px;
		height: 38px;
		
		text-align: center;
		font-size: 16px;
		font-weight: 500;

		&--black {
			background-color: $grayscale-01;
			color: $grayscale-07;
		}

		&--transparent {
			color: $grayscale-00;
		}
	}
}
