//****************************************ШРИФТЫ************************************************************
//Шрифт по умолчанию
$fontfamily:'Outfit';

//Цвет шрифта по умолчанию
$color: #FFFFFF;

//Размер шрифта по умолчанию
$fontsize: 20px;

//Ширина шрифта по умолчанию
$fontweight: 400;

//****************************************ПЕРЕМЕННЫЕ********************************************************
$minwidth:320px;

// Используемые цвета

// Grayscale
$grayscale-00: #000000;
$grayscale-01: #181818;
$grayscale-02: #444444;
$grayscale-03: #B9B9B9;
$grayscale-04: #CFCFCF;
$grayscale-05: #E4E4E4;
$grayscale-06: #F5F5F5;
$grayscale-07: #FFFFFF;

// Primary

// Secondary

// Additional

//***************************************ПОДКЛЮЧЕНИЕ ФАЙЛОВ*************************************************
// Обнуляющий стиль
@import "normalize.scss";

// Миксины
@import "mixins.scss";

// Секции
@import "blocs/blocs.scss";

//****************************************ОБЩИЕ ПАРАМЕТРЫ***************************************************

//****************************************ОБОЛОЧКА**********************************************************
.wrapper {
  background: $grayscale-01;

  min-height: 100%;
  overflow: hidden;
}
//****************************************ОСНОВНАЯ СЕТКА****************************************************
.container {
  max-width: 1320px;
  padding: 0 60px;
  margin: 0 auto;
}
//****************************************АДАПТИВ****************************************************
@import "media.scss";